<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Page</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/chat">Chat</a>
        <a href="/video">Video</a>
    </nav>

    <main>
        <h2>Video Page</h2>
        <p>Ova stranica je mesto za buduće video pozive sa prevodom!</p>
        <video id="videoElement" autoplay playsinline></video>
        <div id="subtitles">Subtitles will appear here...</div>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
